{erl_opts, [debug_info]}.

{xref_checks, [undefined_function_calls,locals_not_used]}.

{dialyzer, [{base_plt_apps, [elli]}]}.

{profiles, [
  {test, [
    {erl_first_files, [
      "src/elli_websocket_handler"
    ]},
    {deps, [{elli, "2.0.1"}]}
  ]},
  {docs, [
    {deps, [
      {elli, "2.0.1"},
      {edown, "0.8.1"}
    ]}
  ]}
]}.

{edoc_opts, [
  {application, elli_websocket},
  {subpackages, false},
  {doclet, edown_doclet},
  {todo,   true},
  {doc_path, [
    "http://raw.github.com/elli-lib/elli/develop/doc"
  ]},
  {source_path, [
    "src",
    "_build/test/lib/elli"
  ]}
]}.

{project_plugins, [
  {coveralls, "1.4.0"},
  {rebar3_lint, "0.1.9"}
]}.

{provider_hooks, [{pre, [{eunit, lint}]}]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
%% {cover_excl_mods, []}.
{coveralls_coverdata, "_build/test/cover/eunit.coverdata"}.
{coveralls_service_name, "travis-ci"}.
